.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
  padding-bottom: 30px;
}

.input {
  width: 300px;
  height: 40px;
  border-radius: 4px;
  font-size: 20px;
}
.pictures-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
  max-width: 400px;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  padding-bottom: 30px;
}
