.home-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  flex-direction: column;
}

.season-display.winter i {
  color: blue;
  font-size: 3em;
  padding-bottom: 10px;
}

.season-display.summer i {
  color: yellow;
  font-size: 3em;
  padding-bottom: 40px;
}

.winter {
  background-image: url("../../assets/images/winter.png");
}

.summer {
  background-image: url("../../assets/images/beach.png");
}
.location {
  text-align: center;
  font-weight: 800;
}
