.login-view {
  height: 3700px;
}

.login-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-view .logo,
.login-view .title {
  margin-bottom: 36px;
}
