.logo {
  width: 105px;
  height: 105px;
  border-radius: 100%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.185233);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.0250972);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.185233);
}
