.search-field {
  display: flex;
  height: 50px;
  width: 100%;
}

.search-field input,
.search-field button {
  border: 0;
  border-radius: 2px;
  background: var(--element-bg);
  box-shadow: var(--element-shadow);
  background-color: rgb(50, 50, 50);
}

.search-field button {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.search-field input {
  width: 100%;
  color: var(--color-font);
  padding: 16px 14px;
  font-size: 12px;
}

.search-field input::placeholder {
  color: var(--color-font);
}
